@use "../abstracts/" as *;


.articles-main-content{
    position: relative;
    @include flex-column;
    background-color: var(--color-surface);
}
.sub-header{
    padding: 2rem;
    border-bottom: var(--color-border) 1px solid;
    #search{
        width:100%;
        max-width:400px;
        height:2rem;
        border:var(--color-border) 1px solid;
        padding-left:5px;
        margin-top:10px;
        border-radius:8px;
        cursor: pointer;
        background-color: var(--color-bg);
        color:var(--color-text);
    }
    .search-btn{
        border: var(--color-border) 1px solid;
        height: 2rem;
        max-width:70px;
        width:100%;
        border-radius:8px;
        background-color: var(--color-bg);
    }
}
.articles-container{
    @include flex-row;
    flex-wrap: wrap;
    gap:5px;
    padding:5rem 2rem 5rem 0;
    background-color: var(--color-bg);
    
    a{
        max-width: 250px;
        @media(max-width:810px){
            flex-direction: column;
            max-width: 200px;
        }
    }
    article{
        max-height: 200px;
        max-width: 250px;
        border-radius: 8px;
        border: var(--color-border) 1px solid;
        background-color: var(--color-surface);
        margin: 1rem;
        cursor: pointer;
    }
    article:hover{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .article-card{
        max-width: 250px;
        width: 100%;
        height:100px;
        border-top-left-radius: 8px;
        border-top-right-radius:8px;
    }
    .article-text{
        padding:1rem;
    }
    a:nth-child(5n+1) .article-card { background: #c58cf7; }
    a:nth-child(5n+2) .article-card { background: #98bff9; }
    a:nth-child(5n+3) .article-card { background: #aff4ca; }
    a:nth-child(5n+4) .article-card { background: #fdc29b; }
    a:nth-child(5n+5) .article-card { background: #f38f8f; }

    .article-info{
        @include flex-row;
        justify-content: space-between;
        padding-top:7px;
        color: var(--color-accent);
    }
    h2{
        padding-bottom: 5px;
    }
    .article-link{
        text-decoration: none;
        color:var(--color-text);
    }
}


.single-article{
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    padding-top:1rem;
    color: var(--color-text);
    background-color: var(--color-surface);
    article{
        padding: 0 2rem;
        max-width:800px;
        width:100%;
        padding:1rem;
        margin-bottom: 3rem;
        border: var(--color-border) 2px solid;
        background-color: var(--color-bg-hover);
    }
    h1, .content{
        text-align: center;
    }
    .content{
        margin-top:2rem;
    }
    a{
        display: flex;
        justify-content: right;
        color:var(--color-text);
    }
    .article-actions{
        @include flex-row;
        flex-direction: row-reverse;
        justify-content: space-between;
        .likes-section{
            @include flex-column;
            gap:5px;
            .like-btn {
                border:none;
                background-color: transparent;
                cursor: pointer;
            }
        }
        .comments-section{
            @include flex-column;
            gap:10px;
            margin-bottom:10px;
            .comment-form{
                textarea {
                    width: 100%;
                    height: 60px;
                    resize: none; 
                }
            }
        .post-comm-btn{
            border: var(--color-border) 1px solid;
            background-color: var(--color-bg);
            padding: 5px;
            border-radius: 8px;
        }
    }
}
    .comment{
        border: var(--color-border) 1px solid;
        background-color: var(--color-bg);
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 1rem;
    }
}
.category-badge, .filter-btn{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--color-text-dark);
    background-color: var(--color-accent);
    margin-bottom:10px;
    text-decoration: none;
}

.category-filters{
    position: absolute;
    transform: translateY(-100%);
    padding-left:1rem;
}