@use "../abstracts/" as *;

.header{
    display: flex;
    height: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #e2e8f0 1px solid;
    padding: 0 2rem;
    h2{
        padding-right: 20px;
        color: $color-accent;
    }
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

.nav ul{
    display: flex;
    gap:2rem;
}
.nav ul li{
    list-style: none;
    a{
        text-decoration: none;
        color: black;
         padding: 10px 15px;
         border-radius: 10px;
    }
    .curent-page{
        background-color: $color-bg-hover;
        color: $color-accent;
    }
    .register{
        background-color: $color-accent;
        color: white;
    }
    .dark-mode{
        border-radius: 50%;
        background-color: $color-surface;
        border: #e2e8f0 1px solid;
    }
}

.nav ul li a:hover{
    background-color: $color-bg-hover;
    color:$color-accent;
}
.main-content, .footer{
    background-color: $color-surface;
}

.main-content .discover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    gap: 1rem;
    .stats-container{
        display: flex;
        flex-direction: row;
        gap:15px;
    }
    .span-nums{
        font-weight: 700;
        color: #0f172a;
        font-size: 26px;
    }
    .span-stats{
        display: block;
        color: #94a3b8;
        font-size: 13px;
    }
    h1{
        font-size: 54px;
        font-weight: 700;
        color:#0f172a;
        
        span{
            display: block;
            color: $color-accent;
        }
    }
    p{
        font-size: 18px;
        max-width: 400px;
    }
    .home-buttons{
        display: flex;
        gap: 10px;

        button{
            padding: 12px 28px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
        .btn1{
            background-color: $color-accent;
            color: white;

            transition: transform 0.2s ease, box-shadow 0.2s ease;

        }
        .btn1:hover{
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }
}