@use "../abstracts/" as *;



@media(max-width:810px){
    body, html {
        width: 100%;
        overflow-x: hidden;
    }   
}

.main-content-register{
     background-color: var(--color-surface);
     display: grid;
     grid-template-columns: 1fr 1fr;
     min-height: calc(100vh - 4rem);
     
     @media(max-width:810px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }
}

.register-side-info{
    border-right: var(--color-border) 1px solid;
    background: linear-gradient(135deg, #6366f1,#ec4899);
    color: var(--color-text-dark);
    padding: 2rem;

    span{
        opacity: 0.8;
        font-size: 16px;
    }
    .text-container{
        position: relative;
        top:100px;
        width: 450px;
    }
    h2{
        font-size:32px;
    }

    .span-container{
        @include flex-column;
        line-height: 25px;
    }
    @media(max-width:810px){
        width:100vw;
       .span-container, h2, h1, span{
        display: none;
       }
    }
}


.register-container{
    @include flex-center;
    color: var(--color-text);
    background-color: var(--color-bg);
    position: relative;
    overflow-y: auto; 
    padding: 2rem 0;
    @media(max-width:810px){
        width: 100vw;
    }
    .hidden{
        display: none !important; //display grid was overriding it for auth-tabs
    }
    .auth-tabs{
        width: 100%;
        max-width:500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--color-bg-hover);
        border-radius: 8px;
        margin:20px 0;
        .tab{
            cursor: pointer;
            padding:10px 15px;
            border:none;
            background-color: var(--color-bg-hover);
            color:var(--color-text);
            opacity: 0.7;
            margin:3px;
            font-weight: 700;
        }
        .active{
            background-color: var(--color-bg);
            border-radius:8px;
            opacity: 1;
        }
    }
    
    .google{
        cursor: pointer;
        max-width:500px;
        width: 100%;
        padding:10px 15px;
        background-color: var(--color-bg);
        color:var(--color-text);
        border-radius: 8px;
        border:var(--color-border) 1px solid;
        margin:10px 0;
    }
    .google-span{
        display: flex;
        align-items: center;
        gap: 8px;

        &::before, &::after {
            content: '';
            flex: 1;
            height: 1px;
            background-color: var(--color-border);
        }
    }
    label{
        display: block;
    }
    label[for="terms"]{
        display: inline;

        a{
            text-decoration: none;
            color: var(--color-accent);
        }
    }
    #email-signin, #password-signin, #fullName, #email, //inputs style
    #password, #confPassword, #reset{
        max-width:470px;
        width: 100%;
        padding: 15px;
        background-color: var(--color-bg);
        color:var(--color-text);
        border-radius: 8px;
        border:var(--color-border) 1px solid;
        margin:10px 0;
    }
    .forms-container{
        max-width: 500px;
        width: 100%;
        padding: 0 1rem;
    }
    .label-row{
        @include flex-row;
        justify-content: space-between;
    }
    .forgotpass{
        color:var(--color-accent);
        cursor: pointer;
    }
    .signin-btn, .signup-btn, .reset-link{
        cursor: pointer;
        max-width:500px;
        width: 100%;
        padding:10px 20px;
        background-color: var(--color-accent);
        color:var(--color-text);
        border-radius: 8px;
        border:var(--color-border) 1px solid;
        margin:10px 0;
        
    }
    .back-to-login{
        position: absolute;
        top:25%;
        left: 5%;
        cursor: pointer;
        color: var(--color-accent);

        @media(max-width:810px){
            top:20%;
            left:10%;
        }
    }
}

