
:root{
    --color-bg-light: #ffffff;
    --color-bg-dark:#0f172a;
    --color-surface-light:#f8fafc;
    --color-surface-dark:#1e1b4b;
    --color-bg-hover-light:#f1f5f9;
    --color-bg-hover-dark:#334155;
    --color-accent-light:#6366f1;
    --color-accent-dark:#818cf8;
    --color-article-light:#eef2ff;
    --color-article-dark: #1e293b;
    --colot-text-light:#0f172a;
    --color-text-dark:#f8fafc;
    --color-border-light:#e2e8f0;
    --color-border-dark:#334155;

    --color-bg: var(--color-bg-light);
    --color-surface: var(--color-surface-light);
    --color-bg-hover: var(--color-bg-hover-light);
    --color-article: var(--color-article-light);
    --color-text: var(--color-text-light);
    --color-border: var(--color-border-light);
    --color-accent: var(--color-accent-light);
}

[data-theme="dark"]{
    --color-bg: var(--color-bg-dark);
    --color-surface: var(--color-surface-dark);
    --color-bg-hover: var(--color-bg-hover-dark);
    --color-article: var(--color-article-dark);
    --color-text: var(--color-text-dark);
    --color-border: var(--color-border-dark);
    --color-accent: var(--color-accent-dark);
}